html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

a {
  text-decoration: none;
}


*  {
  font-family: 'Nunito', sans-serif;
}

h6 {
  color: rgb(249, 234, 231);
  color: #61485380;
  color: rgba(9, 39, 65, .5);
}

li {
  list-style-type: none;
}

.go-back {
  cursor: default;
}